:root {
    --main-color: #f5d04e;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "open sans", sans-serif;
    background-color: var(--main-color);
}


.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.componant {
    width: 250px;
    height: 350px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: white;
    position: relative;
    border: 2px solid;
    border-radius: 5%;
 }
.componant-border {
    width: 250px;
    height: 350px;
    position: absolute;
    left: 5px;
    top: 5px;
    background: black;
    border-radius: 5%;
    z-index: -1;
}

.componant .content {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: left;
    top: 15px;
}

.componant .main-img {
    width: 95%;
    border-radius: 5%;
}

.componant .tag {
    background: var(--main-color);
    width: fit-content;
    padding: 2%;
    font-size: 10px;
    font-weight: 900;
    border-radius: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.componant .Published-date {
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 5%;
}

.componant h2 {
    font-size: 15px;
    font-weight: 900;
    margin-bottom: 5%;
}

.componant .discreption {
    width: 90%;
    font-size: 11px;
    font-weight: lighter;
    color: #606060;
}

.componant .footer {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 10px;
    width: 98px;
}

.componant .footer span img {
    width: 25px;
}

.componant .footer .name {
    padding-left: 10px;
    font-size: 10px;
    font-weight: 900;
}